/*
    Paleta de Colores
    BLANCO: #E8E8E8
    ROJO: #f05454
    AZUL: #30475E
    NEGRO: #222831 
*/

body{
    background: #222831;
}

.image{
    width: 210px;
}

ul li{
    margin: 0px 40px;
}

.btn a{
    transition: all ease-out 0.5s;
    color: white;
}

.btn>a:hover{
    color: rgb(148, 148, 148);
    transform: scale(1.5);
    font-size: 20px;
}

li a{
    margin: 10px 40px;
    text-decoration: none;
    font-size: 18px;
}

/*Carrusel*/

.carrusel{
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.767),rgba(255, 255, 255, 0.425)),url(/galery/Escritorio.jpg) ;
    height: 99vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 98;
    margin-top: -200px;
}