/*
    Paleta de Colores
    BLANCO: #E8E8E8
    ROJO: #f05454
    AZUL: #30475E
    NEGRO: #222831 

    Reglas de Fuentes
    font-family: 'Black Ops One', cursive;
    font-family: 'Boogaloo', cursive;
    font-family: 'Bungee', cursive;
    font-family: 'Fredoka One', cursive;
    font-family: 'Shrikhand', cursive;
*/

body{
    margin: 0px;
    padding: 0px;
}

.image{
    width: 17%;
    margin-left: 25px;
}

ul{
    overflow-x: auto;
}

.btn{
    margin: 0px 28px;
}

.btn a{
    border-bottom: #222831bb solid 2px;
    display: flex;
    margin: 10px 5px;
    padding: 0px 34px;
    text-decoration: none;
    font-size:100%;
    color: #ffffff;
}

.btn a:hover{
    transition: all ease-out 0.35s;
    font-size: 20px;
    color: #222831;
    transform: scale(1.2);
}

.btn >a:active{
    color: #5a5757;
}

/*Carrusel*/

.carrusel{
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.829),rgba(255, 255, 255, 0.479)), url(galery/Escritorio.jpg);
    height: 110vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    z-index:100;
    margin-top: -200px;
}

.titulo-box{
    justify-content: center;
    padding-bottom: 0px;
    color: rgba(252, 252, 252, 0.953);
    margin: calc(55vh - 80px) 2% 0px 2%;
}

.titulo-grande{
    text-align: center;
    font-size: 170px;
}

.parrafo-box{
    margin: 0px 5%;
    margin-top: -50px;
}

.parrafo{
    font-size: 40px;
    text-align: center;
    background: #30475eb6;
    margin: 25px 20%;
    padding: 15px 0px;
}

.contenido{
    background: linear-gradient(180deg,#222831 60%,#30475E);
    background-repeat: no-repeat;
}

div .separador{
    z-index: 99;
    position: static;
    top: 0;
    margin-top: -160px;
}

.titulo-contenido{
    font-size: 50px;
    text-align: center;
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 35px;
    color: #E8E8E8;
}

.carta{
    height: 300px;
    width: 310px;
    border-radius: 50%;
    margin: auto;
}

.carta-info{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.carta-info a{
    font-size: 18px;
    border-bottom: #E8E8E8 solid 2px;
    margin: 27px 0px 5px 0px;
    transition: all ease-out 0.40s;
}

.carta-info a:hover{
    
    border-bottom:#f05454 solid 2px;
    color: #f05454;
    transform: scale(1);
    font-size: 18px;
}

.carta-info a:active{
    color: black;
    border-bottom: black 2px solid;
}

.carta-izq{
    background: url(galery/Black-Clover-Yami-Sukehiro-anime-anime-boys-1911749-wallhere.com.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    border-right: #30475E solid 1px;
}

.carta-cen{
    background: url(galery/Escritorio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    border-left: #30475E solid 1px;
    border-right: #30475E solid 1px;
}

.carta-der{
    background: url(galery/Inicio_de_pagina.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    border-right: #30475E solid 1px;
}

.separador-top{
    z-index: 100;
    margin: 0px;
    position: relative;
}

.separador-top-shadow{
    z-index: 99;
    margin: -145px 0px 0px 0px;
    position: relative;
}

.relleno{
    position: absolute;
    background: linear-gradient(180deg,#30475E 70%, #f05454) ;
    z-index: 98;
    margin-top: -110px;
}

.carousel{
    margin: 0px;
    padding: 0px;
}

.carousel img{
    padding: 0px;
    z-index: 98;
    height: 450px;
}

.diagonal{
    height: 450px;
    z-index: 98;
    margin: 0px;
    padding: 0px;
}

.contenido-box{
    background: rgba(218, 112, 214, 0.788);
    height: 220px;
    margin: 15px 0px 0px 0px;
}

.separador-bottom-shadow{
    z-index: 100;
    margin: 215px 0px 0px 0px;
    position: relative;
}

.separador-bottom{
    z-index: 100;
    margin: -145px 0px 0px 0px;
    position: relative;
}
/* Responsive Manual*/

@media (max-width: 1258px){

    li a{
        font-size: 15px;
    }

    .btn{
        padding: 0px 15px;
        margin: 0px 20px;
    }

    .carta-info a{
        font-size: 18px;
        transition: all ease-out 0.40s;
    }
    
    .carta-info a:hover{
        transform: scale(1);
        font-size: 18px;
    }

    .carta-info a:active{
        color: black;
        border-bottom: black 2px solid;
    }
}

@media (max-width: 1095px){
    .btn{
        padding: 10px 0px ;
        margin: 0px 5px;
    }

    .btn a{
        font-size: 13px;
        transition: all ease-out 0.35s;
    }

    .btn a:hover{
        transform: scale(1.05);
    }
    .titulo-box{
        margin-top: calc(55vh - 50px);
        margin-left:1%;
        margin-right:1%;
    }

    .titulo-grande{
        font-size: 105px;
    }

    .parrafo{
        font-size: 30px;
    }

    .carta-info a{
        font-size: 18px;
        transition: all ease-out 0.40s;
    }
    
    .carta-info a:hover{
        transform: scale(1);
        font-size: 18px;
    }

    .carta-info a:active{
        color: black;
        border-bottom: black 2px solid;
    }
    
}

@media (max-width: 805px){
    .btn{
        margin: 0px;
    }

    .btn a{
        font-size: 11px;
        transition: ease-out all;
    }

    .btn a:hover{
        font-size: 11px;
        color: #5a5757;
        transform:scale(1);
    }
    .btn a:active{
        color:#222831;
    }

    .titulo-box{
        margin-top: calc(55vh - 50px);
        margin-left:1%;
        margin-right:1%;
    }

    .titulo-grande{
        font-size: 105px;
    }

    .parrafo{
        font-size: 30px;
    }

    .titulo-contenido{
        font-size: 50px;
    }

    .carta-info a{
        font-size: 18px;
        transition: all ease-out 0.40s;
    }
    
    .carta-info a:hover{
        color: #f05454;
        transform: scale(1);
        font-size: 18px;
    }
    .carta-info a:active{
        color: black;
        border-bottom: black 2px solid;
    }
}

@media (max-width:685px){
    .btn a{
        font-size: 9px;
    }

    .btn a:hover{
        font-size: 9px;
        color: #5a5757;
        transform:scale(1);
    }
    .btn a:active{
        color: #222831;
    }

    .carta-info a{
        font-size: 16px;
        transition: all ease-out 0.40s;
    }
    
    .carta-info a:hover{
        color: #f05454;
        transform: scale(1);
        font-size: 16px;
    }
    .carta-info a:active{
        color: black;
        border-bottom: black 2px solid;
    }
}

@media(max-width:661px){
    .btn a{
        padding: 5px 10px;
        margin: 0px 5px;
        font-size:8px;
        transition: ease-out all;
    }

    .btn a:hover{
        font-size: 8px;
        color:#5a5757 ;
        transform:scale(1);
    }

    .btn a:active{
        color: #222831;
    }

    .titulo-box{
        margin-top: calc(55vh - 25px);
        margin-left:1%;
        margin-right:1%;
    }

    .titulo-grande{
        font-size: 95px;
        margin-left: 1%;
        margin-right: 1%;
    }

    .parrafo{
        font-size: 20px;
    }

    .titulo-contenido{
        font-size: 47px;
    }

    .carta-info a{
        font-size: 16px;
        transition: all ease-out 0.40s;
        margin: 10px auto;
    }
    
    .carta-info a:hover{
        color: #f05454;
        transform: scale(1);
        font-size: 16px;
    }
    .carta-info a:active{
        color: black;
        border-bottom: black 2px solid;
    }
}

@media(max-width:545px){
    .titulo-box{
        margin-top: calc(55vh - 25px);
        margin-left:1%;
        margin-right:1%;
    }

    .titulo-grande{
        font-size: 75px;
        margin-left: 1%;
        margin-right: 1%;
    }

    .parrafo{
        margin-top: 35px;
        font-size: 20px;
    }

    .titulo-contenido{
        font-size: 40px;
    }

    .carta{
        height: 270px;
        width: 290px;
        border-radius: 40%;
        margin: auto;
    }

    .carta-info a{
        font-size: 16px;
        transition: all ease-out 0.40s;
        margin: 10px auto;
    }
    
    .carta-info a:hover{
        color: #f05454;
        transform: scale(1);
        font-size: 16px;
    }

    .carta-info a:active{
        color: black;
        border-bottom: black 2px solid;
    }
}

@media(max-width:495px){
    .btn a{
        padding: 5px 10px;
        margin: 0px 5px;
        font-size:8px;
        transition: ease-out all;
    }

    .btn a:hover{
        font-size: 8px;
        color:#5a5757 ;
        transform:scale(1);
    }

    .btn a:active{
        color: #222831;
    }

    .titulo-contenido{
        font-size: 37px;
    }

    .carta-info a{
        font-size: 16px;
        margin: 10px auto;
    }
    
    .carta-info a:hover{
        color: #f05454;
        transform: scale(1);
        font-size: 16px;
    }

    .carta-info a:active{
        color: black;
        border-bottom: black 2px solid;
    }
}

@media (max-width:445px){
    .titulo-box{
        margin-top: calc(55vh - 25px);
        margin-left:1%;
        margin-right:1%;
    }

    .titulo-grande{
        font-size: 65px;
        margin-left: 1%;
        margin-right: 1%;
    }

    .parrafo{
        margin-top: 35px;
        font-size:18px;
    }

    .titulo-contenido{
        font-size: 35px;
    }

    .carta-info a{
        font-size: 16px;
        margin: 10px auto;
    }
    
    .carta-info a:hover{
        color: #f05454;
        transform: scale(1);
        font-size: 16px;
    }

    .carta-info a:active{
        color: black;
        border-bottom: black 2px solid;
    }
}

@media(max-width:390px){
    .btn a{
        padding: 0px 8px;
        font-size:7px;
        transition: ease-out all;
    }

    .btn a:hover{
        font-size: 7px;
        color:#5a5757 ;
        transform:scale(1);
    }

    .btn a:active{
        color: #222831;
    }

    .titulo-box{
        margin-top: calc(55vh - 25px);
    }

    .titulo-grande{
        font-size: 55px;
        margin-left: 1%;
        margin-right: 1%;
    }

    .parrafo{
        margin-top: 35px;
        font-size:17px;
    }

    .carta{
        height: 220px;
        width: 250px;
        border-radius: 35%;
        margin: auto;
    }

    .carta-info a{
        font-size: 15px;
        margin: 10px auto;
    }
    
    .carta-info a:hover{
        color: #f05454;
        transform: scale(1);
        font-size: 15px;
    }

    .carta-info a:active{
        color: black;
        border-bottom: black 2px solid;
    }
}

@media(max-width:353px){
    .btn a{
        padding: 0px 3px 2px 3px;
        font-size:7px;
        transition: ease-out all;
    }

    .btn a:hover{
        font-size: 7px;
        color:#5a5757 ;
        transform:scale(1);
    }

    .btn a:active{
        color: #222831;
    }

    .titulo-box{
        margin-top: calc(55vh - 25px);
        margin-left: 0px;
        margin-right: 0px;
    }

    .titulo-grande{
        font-size: 45px;
        margin: 0px;
    }

    .parrafo{
        padding: 5px 0px;
        margin: 65px 65px 0px 65px;
        font-size: 14px;
    }

    .carta-info a{
        font-size: 15px;
        margin: 10px auto;
    }
    
    .carta-info a:hover{
        color: #f05454;
        transform: scale(1);
        font-size: 15px;
    }

    .carta-info a:active{
        color: black;
        border-bottom: black 2px solid;
    }
}

@media (max-width:310px){
    .btn a{
        padding: 0px 3px 2px 3px;
        font-size:7px;
        margin: 0px;
        transition: ease-out all;
    }

    .btn a:hover{
        font-size: 7px;
        color:#5a5757 ;
        transform:scale(1);
    }

    .btn a:active{
        color: #222831;
    }

    .titulo-box{
        margin-top: calc(55vh - 15px);
        margin-left: 0px;
        margin-right: 0px;
    }

    .titulo-grande{
        font-size: 42px;
        margin: 0px;
    }

    .parrafo{
        padding: 5px 0px;
        margin: 50px 35px 0px 35px;
        font-size: 15px;
    }

    .titulo-contenido{
        font-size: 35px;
    }

    .carta{
        height: 200px;
        width: 220px;
        border-radius: 25%;
        margin: auto;
    }

    .carta-info a{
        font-size: 14px;
        margin: 10px auto;
    }
    
    .carta-info a:hover{
        color: #f05454;
        transform: scale(1);
        font-size: 14px;
    }

    .carta-info a:active{
        color: black;
        border-bottom: black 2px solid;
    }

}

/* Resposive height */

@media (max-height:500px){
    .carrusel{
        height: 140vh;
    }

    .titulo-box{
        justify-content: center;
        padding-bottom: 0px;
        color: rgba(252, 252, 252, 0.953);
        margin: calc(90vh - 100px) 2% 0px 2%;
    }
}

@media (max-height:400px){
    .carrusel{
        height: 150vh;
    }

    .titulo-box{
        justify-content: center;
        padding-bottom: 0px;
        color: rgba(252, 252, 252, 0.953);
        margin: calc(90vh - 60px) 2% 0px 2%;
    }
}

@media (max-height:300px){
    .carrusel{
        height: 150vh;
    }

    .titulo-box{
        justify-content: center;
        padding-bottom: 0px;
        color: rgba(252, 252, 252, 0.953);
        margin: calc(90vh - 40px) 2% 0px 2%;
    }
}